<div class="container">
  <nz-result *ngIf="!emptyUser; else noData"
    nzStatus="success"
    [nzTitle]="'Welcome, ' + user?.name?.first + ' ' + user?.name?.last"
    [nzSubTitle]="'username: ' + user?.login?.username + ', ' + 'password: ' + user?.login?.md5">
    <div nz-result-extra>
      <p>
        <img [src]="user?.picture?.large" />
      </p>
      <button nz-button
        routerLink="/users"
        nzType="primary">Back</button>
    </div>
  </nz-result>

  <ng-template #noData>
    <nz-result nzStatus="500"
      nzTitle="500"
      nzSubTitle="Failed to load user.">
      <div nz-result-extra>
        <button nz-button
          routerLink="/users"
          nzType="primary">Back</button>
      </div>
    </nz-result>
  </ng-template>
</div>
